RLPx AES CTR keystream reusage #1315 (SEC-50 ) : Case for private network

Hi, does Besu RLPx implementation solve this issue?
ethereum/go-ethereum#1315

In case of a private network, what are the potential impacts, if any?

from ethereum/devp2p#32 :
"The two sides of a RLPx connection generate two CTR streams from the same key, nonce and IV.
If an attacker knows one plaintext, he can decrypt unknown plaintexts of the reused keystream.
Separate keys needs to be used for each stream. See for example the TLS 1.2 RFC 5246 section 6.3."


In the case of a private network, here is a fix proposed for rlpx.go:

LaurentMT/go-ethereum@e8cba72

Regards,

This is a pretty niche requirement, as per the go-ethereum issue most traffic using RLP is public anyhow. If you're up for testing it out to see if this is an issue for your use case with Besu you're welcome to do that. This project is open source so you're welcome to submit PRs also